{% extends 'blog/base.html' %}

{% block content %}
    <div class = "cv_page_header">
        <h2>CV</h2>
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'cv_edit' %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <p>Alexandru-Catalin Radut</p>
    </div>
    <div class = "cv_body">
        <h3>Profile</h3>
        {{ cvForms.text }}
        <h3>Education</h3>
        <h3>Experience</h3>
        <h3>Extra-curricular Achievements</h3>
        <h3>Skills and Interests</h3>
    </div>
{% endblock %}