{% extends 'blog/base.html' %}

{% block content %}
    <div class = "cv_page_header">
        <h2>CV</h2>
            <div class = "cv_edit_button" >
                <a id = "cv_edit_button" href="{% url 'cv_edit' %}"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
        <p>Alexandru-Catalin Radut</p>
        <p>
            Address: <span id = "cv_address">{{cvForms.address}} </span> <br>
            Phone Number: <span id = "cv_phone">{{cvForms.phone_number}}</span>
        </p>
        
    </div>
    <div class = "cv_body">
        <h3>Profile</h3>
        <div id = "cv_profile"> {{ cvForms.profile }} </div>
        <h3>Education</h3>
        <div id = "cv_education">{{ cvForms.education }}</div>
        <h3>Experience</h3>
        <div id = "cv_experience">{{ cvForms.experience }}</div>
        <h3>Extra-curricular Achievements</h3>
        <div id = "cv_extracurricular_achievements">{{ cvForms.extracurricular_achievements }}</div>
        <h3>Skills and Interests</h3>
        <div id = "cv_skills_and_interests">{{ cvForms.skills_and_interests }}</div>  
    </div>
{% endblock %}